<a href="https://colab.research.google.com/github/MarisDev/bootcamp-Atlatico-Avanti/blob/main/Ativi02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# 1- Escreva uma função que receba uma lista de números e retorne outra lista com os números ímpares.

num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

def impares(lista):
    return [n for n in lista if n % 2 !=0]
print(impares(num))

[1, 3, 5, 7, 9, 11, 13, 15]

In [12]:
# 2- Escreva uma função que receba uma lista de números e retorne outra lista com os números primos presentes.

numeros = [1, 2, 3, 4, 5, 10, 11]

def sao_primo(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def primos(lista):
    return [n for n in lista if sao_primo(n)]

print(primos(numeros))

[2, 3, 5, 11]

In [14]:
# 3- Escreva uma função que receba duas listas e retorne outra lista com os elementos que estão presentes em apenas uma das listas.

lista1 = [1, 2, 3, 4]
lista2 = [3, 4, 5, 6]

def exclusivos(l1, l2):
    return list(set(l1) ^ set(l2))

print(exclusivos(lista1, lista2))

[1, 2, 5, 6]

In [15]:
# 4- Dada uma lista de números inteiros, escreva uma função para encontrar o segundo maior valor na lista.

num = [10, 20, 30, 40, 50]

def segundo_maior(lista):
    lista_unica = list(set(lista))
    lista_unica.sort(reverse=True)
    return lista_unica[1]

print(segundo_maior(num))

40

In [17]:
# 5- Crie uma função que receba uma lista de tuplas, cada uma contendo o nome e a idade de uma pessoa, e retorne a lista ordenada pelo nome das pessoas em ordem alfabética.


pessoas = [
    ("Maria", 30),
    ("Ana", 22),
    ("Augusto", 25)
]

def ordenar_por_nome(lista):
    return sorted(lista, key=lambda x: x[0])

print(ordenar_por_nome(pessoas))

[('Ana', 22), ('Augusto', 25), ('Maria', 30)]

# 6 - Como identificar e tratar outliers em uma coluna numérica usando desvio padrão ou quartis?

Outliers podem ser identificados pelo desvio padrão ou pelo método dos quartis (IQR). Após a identificação, podem ser removidos, substituídos por valores estatísticos como a mediana ou mantidos para análise específica, dependendo do contexto dos dados.

In [ ]:
"""
7- Como concatenar vários DataFrames (empilhando linhas ou colunas), mesmo que tenham colunas diferentes? Dica: Utiliza-se pd.concat() especificando axis=0 (linhas) ou axis=1
(colunas). Quando há colunas diferentes, os valores ausentes são preenchidos com NaN.
"""
# No pandas, usamos pd.concat() para unir DataFrames por linhas (axis=0) ou por colunas (axis=1).Quando os DataFrames têm colunas diferentes, o pandas preenche os valores ausentes com NaN automaticamente.

import pandas as pd

df = pd.read_csv("simple_kaggle_dataset.csv")
df.head()

In [ ]:
# Concatenado linhas

df_parte1 = df[["Product_ID", "Price"]]
df_parte2 = df[["Product_ID", "Quantity_Sold"]]

df_linhas = pd.concat([df_parte1, df_parte2], axis=0, ignore_index=True)
print(df_linhas)

# Concatenando colunas

df_colunas = pd.concat([df_parte1, df_parte2], axis=1)
print(df_colunas)

In [ ]:
# 8- Utilizando pandas, como realizar a leitura de um arquivo CSV em um DataFrame e exibir as primeiras linhas?

df = pd.read_csv("simple_kaggle_dataset.csv")
df.head() #exibe as 5 primeiras linhas do dataset por padrão, mas podemos escolher quantas queremos ex: df.head(10)

In [ ]:
#9- Utilizando pandas, como selecionar uma coluna específica e filtrar linhas em um “DataFrame” com base em uma condição?

#selecionar uma coluna em específico

df["Price"]

#Filtrar linhas com base em uma condição:

df[df["Price"] > 100][["Product_ID", "Price"]]

In [32]:
#10- Utilizando pandas, como lidar com valores ausentes (NaN) em um DataFrame?
"""
A forma de tratamento dependo do contexto, podemos:
remover quando nao é relevante ou tratar com media ou mediana(se for dados numericos),
por exemplo.
"""

#identificar NaN

df.isna()

#contar NaN por colunas

df.isna().sum()

#remover linhas E Colunas com NaN

df_sem_nan = df.dropna() #linhas

df_sem_nan = df.dropna(axis=1) #colunas

#substituir valores por zero

df.fillna(0, inplace=True)

#Substituir pela média ou mediana quando for valores numéricos

df["Price"].fillna(df["Price"].mean(), inplace=True) #media

df["Price"].fillna(df["Price"].median(), inplace=True) #mediana

/tmp/ipython-input-3497677259.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Price"].fillna(df["Price"].mean(), inplace=True) #media
/tmp/ipython-input-3497677259.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Price"].fillna(df["Price"].median(), inplace=True) #mediana